.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51.25vh;
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  width: 200px;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 10px;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form button {
  padding: 10px 20px;
}
