.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  width: 200px;
  height: auto;
}
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin-bottom: 10px;
}

.register-form input {
  margin-bottom: 20px;
}

.register-form button {
  padding: 10px 20px;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #999;
}

.password-toggle.visible {
  color: #333;
}

/* Adjust the styles below to fit your design */
.register-form input[type='password'] {
  padding-right: 30px; /* Provide enough space for the toggle button */
}
